html {
    background-color: rgb(31, 62, 102);
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    /* 
    Try to get a nice border all the way around. Right now it's just going down to where #outcometext ends.
    border-style: solid;
    border-color: rgb(235, 194, 61);
    */
}

header {
    font-size: 140%;
    border-style: solid;
    border-color: rgb(235, 194, 61);
    background-color: rgba(255,255,255, .05);
    display: block;
    padding: 0em 6em 0em 6em;
    margin: 2em 4.5em 2em 4.5em;
    overflow: hidden;
    text-align: center;
}

.jankenlist {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.jankenimg {
    border-style: solid;
    border-color: rgb(235, 194, 61);
    border-radius: 1em;
    margin: 2em 5em 1em 5em;
    width: 22.5vw;
    height: 28vh;
    opacity: 0.8;
}

.jankenimg:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

#outcomeText {
    font-size: 180%;
    border-style: solid;
    border-color: rgb(235, 194, 61);
    background-color: rgba(255,255,255, .05);
    display: inline-block;
    padding: .5em;
    margin: 1em;
    overflow: hidden;
}

#loadingGif {
    width: 5em;
    text-align: center;
    margin: 2em 3em 3em 3em;
}